body {
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 0;

}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 8px  200px; 
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;

    
}
a {
    text-decoration: none;
    color: lightgrey;
}
.content {
    display: flex;
    flex-direction: column;
 
}
.first-text {
    display: flex;
    background-color: #1f2937;
    padding: 50px  200px; 
    justify-content: space-between;

}
#first-header {
    font-size: 48px;
    
    color: #f9faf8;
    font-weight: bolder;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 24px;
    border-radius: 8px;
}
#front-picture {
    display: flex;
    max-width: 600px;
    max-height: 250px;   
}
.how-many-classes-haha {
    max-width: 350px;
}
.white-text {
    color: #f9faf8;
    padding: 8px 0;
}
.information {
    display: flex;
    justify-content: center;
    padding: 8px  200px;
}
.inf-img {
    display: flex;
width: 150px;
height: 150px;
}